a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


img.avatar {
  max-width: 40px;
  border-radius: 50%;
  border: solid 2px #000050;
}


.navbar.navbar-expand-sm {
  margin-left: 300px !important;
  position: fixed;
  width: calc(100% - 300px);
}


