
<div class="sticky">
  <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
  <div class="app-sidebar">
    <div class="side-header">
      <a class="header-brand" href="/Home/Index">
        <img src="/assets/images/brand/logo.png" class="header-brand-img desktop-logo" alt="logo">
      </a>
    </div>
    <div class="main-sidemenu">

     

      <nav class="sidebar d-flex flex-column p-0">
        <!--<h4 class="text-light">MENU</h4>-->
        <ul class="nav flex-column">
          <!--<li class="nav-item">
            <a class="nav-link text-light" href="#">Dashboard</a>
          </li>-->
          <li>
            <h3>EMPRESA</h3>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#usersMenu" aria-expanded="false">
              <i class="fas fa-building"></i><span class="menu-titulo">Config da Empresa</span>
            </a>
            <ul class="collapse" id="usersMenu">
              <li>
                <a class="nav-link text-light" href="#">Minha empresa</a>
              </li>
              <!--<li>
                <a class="nav-link text-light" href="#">Benefícios</a>
              </li>
              <li>
                <a class="nav-link text-light" href="#">Áreas</a>
              </li>
              <li>
                <a class="nav-link text-light" href="#">Cargos</a>
              </li>
              <li>
                <a class="nav-link text-light" href="#">Filiais</a>
              </li>-->
            </ul>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link text-light collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#settingsMenu" aria-expanded="false">
              <i class="fas fa-columns"></i><span class="menu-titulo">Config. do sistema</span>
            </a>           
          </li>
          <li>
            <h3>VAGAS</h3>
          </li>
          <li class="nav-item">
            <a class="text-light" href="#" data-bs-toggle="collapse" data-bs-target="#settingsMenu" aria-expanded="false">
              <i class="fas fa-map-pin"></i><span class="menu-titulo">Gestão de vagas</span>
            </a>
          </li>
          <li>
            <h3>USUÁRIOS</h3>
          </li>
          <li class="nav-item">
            <a class="text-light" href="#" data-bs-toggle="collapse" data-bs-target="#settingsMenu" aria-expanded="false">
              <i class="fas fa-id-badge"></i><span class="menu-titulo">Meu perfil</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="text-light" href="#" data-bs-toggle="collapse" data-bs-target="#settingsMenu" aria-expanded="false">
              <i class="fas fa-users"></i><span class="menu-titulo">Todos os usuários</span>
            </a>
          </li>-->
        </ul>
      </nav>



    </div>



  </div>
</div>

<app-nav-menu></app-nav-menu>

<div class="app-content main-content mt-0">
  <div class="side-app">
    <div class="main-container container-fluid">

      <div class="row">
        <div class="col-md-4 offset-md-1 col-12">
          <div>
            <h2>Olá, {{ nomeUsuario }}. Seja bem-vindo</h2>
            <p>É necessário configurar a empresa matriz para visualizar tidas as informações do sistema.</p>
            <input type="button" class="btn btn-primary" value="INICIAR CONFIGURAÇÃO" (click)="openCompanyModal()" />
            <!--<button (click)="openCompanyModal()">Cadastrar Nova Empresa</button>-->
          </div>

        </div>
        <div class="col-md-6 offset-md-1 col-12">
          <img src="/assets/images/brand/welcome.jpg" />

        </div>
      </div>


    </div>
  </div>
</div>



<app-company-registration *ngIf="showCompanyModal"></app-company-registration>
